.search_button {
	width: 100%;
}

.go_button {
	margin-top: 10px;
	width: 99.9999%;
	color: rgb(255, 255, 255) !important;
}

.search_item:HOVER {
	background-color: rgb(230, 230, 230);
}

.search_item {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: rgb(247, 247, 249);
    border: 1px solid rgb(225, 225, 232);
    border-radius: 4px 4px 4px 4px;
}

.panel_item {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: rgb(247, 247, 249);
    border: 1px solid rgb(225, 225, 232);
    border-radius: 4px 4px 4px 4px;
}

.vspace {
	margin-top: 30px;
}

.title_label {
	font-style: oblique;
	font-size: medium;
	float: left;
}

.row_label {
	text-align: left;
	font-size: small;
	float: left;
	padding: 5px;
}

.row_input {
	margin-left: 80px;
	width: 150px;
}

.row  {
	margin-bottom: 5px;
}

.error_label {
	font-style: normal;
	color: red;
	text-align: left;
}