/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

#content {
	clear: both;
	width: 830px;
    margin: 0 auto;
}

#options_panel {
	width: 300px;
	height: 400px;
	padding: 5px;
	margin-right: 5px;
	background-color: #87CEEB;
    float: left;
}

#results_panel {
	width: 500px;
	height: 400px;
	padding: 5px;
	background-color: #FFE4B5;
    margin-left: 315px;
}

#test_button {
	clear: both;
	width: 100px;
	height: 50px;
	margin: 0 auto;
	display: block;
}

#dialogVPanel {
  margin: 5px;
}

#err_label {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
