.search_button {
	width: 100%;
}

.search_item:HOVER {
	background-color: rgb(230, 230, 230);
}

.search_item {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: rgb(247, 247, 249);
    border: 1px solid rgb(225, 225, 232);
    border-radius: 4px 4px 4px 4px;
}

.options_panel {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: rgb(247, 247, 249);
    border: 1px solid rgb(225, 225, 232);
    border-radius: 4px 4px 4px 4px;
}

#label_dates {
	text-align: left;
	font-size: small;
	font-style: italic;
}

.vspace {
	margin-top: 30px;
}

.title_label {
	font-style: italic;
	font-size: medium;
	float: left;
}

.row_label {
	text-align: left;
	font-size: small;
	float: left;
	padding: 5px;
}

.row_input {
	margin-left: 80px;
	width: 150px;
}

.row  {
	margin-bottom: 10px;
}

.row select {
	width: 100px;
	margin-left: 10px;
}