/** Add css rules here for your application. */

.search_button {
	padding: 0px !important;
	width: 100%;
	margin-top: 20px;
}

#label_dates {
	text-align: left;
	font-size: small;
	font-style: italic;
}

.vspace {
	margin-top: 30px;
}

.title_label {
	font-style: italic;
	font-size: medium;
	float: left;
}

.row_label {
	text-align: left;
	font-size: small;
	float: left;
	padding: 5px;
}

.row_input {
	margin-left: 80px;
	width: 150px;
}

.row  {
	margin-bottom: 10px;
}

.row select {
	width: 100px;
	margin-left: 10px;
}